@import "mixins";

//Delete default settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    @include size(100%, 1000px);
    @include flexCenter();
    background: linear-gradient(90deg, #AA45AF, #F4429A);
    #singIn{
        @include size(500px, 650px);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
        @include flDownBetween();
        h3{
            @include size(100%, 70px);
            text-align: center;
            line-height: 80px;
            font-size: 48px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #formMain{
            @include size(400px, 460px);
            @include flDownBetween();
            #signInUp{
                @include size(100%, 70px);
                @include flexCenter();
                border-radius: 10px;
                border: 1px solid rgb(190, 190, 190);
                #btnIn{
                    @include size(50%, 69px);
                    @include flexCenter();
                    font-size: 26px;
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    background:linear-gradient(90deg, #AA45AF, #F4429A) ;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                }
                #btnUp{
                    @include size(50%, 69px);
                    @include flexCenter();
                    font-size: 26px;
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    color: black;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    cursor: pointer;
                }
            }
            #inputDiv{
                @include size(100%, 260px);
                @include flDownAround();
                input{
                    @include size(100%, 70px);
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    padding-left: 20px;
                    font-size: 20px;
                    color: rgb(190, 190, 190);
                    border-radius: 10px;
                    border: 1px solid rgb(190, 190, 190);
                }
                p{
                    font-size: 19px;
                    color: #F4429A;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    cursor: pointer;
                }
                #passwordRegEx{
                    font-size: 14px;
                    color: red;
                    display: none;
                }
            }
            #btnLogin{
                @include size(100%, 69px);
                background: linear-gradient(90deg, #AA45AF, #F4429A);
                border: none;
                border-radius: 10px;
                color: white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 26px;
                transition:ease-in-out .5s;
                cursor: pointer;
            }
            #btnLogin:hover{
                background: transparent;
                border: 2px solid #AA45AF;
                color: #F4429A;
            }
        }
        #formBottom{
            @include size(100%, 70px);
            @include flexCenter();
            p{
                font-size: 19px;
                color: black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                span{
                    color: #F4429A;
                    cursor: pointer;
                }
            }
        }
    }
    #signUp{
        @include size(500px, 850px);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
        @include flDownAround();
        display: none;
        h3{
            @include size(100%, 70px);
            text-align: center;
            line-height: 80px;
            font-size: 48px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #regFormMain{
            @include size(400px, 700px);
            @include flDownBetween();
            #regsignInUp{
                @include size(100%, 70px);
                @include flexCenter();
                border-radius: 10px;
                border: 1px solid rgb(190, 190, 190);
                #regBtnIn{
                    @include size(50%, 69px);
                    @include flexCenter();
                    font-size: 26px;
                    color: rgb(0, 0, 0);
                    background-color: transparent;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    border: none;
                    cursor: pointer;
                }
                #regBtnUp{
                    @include size(50%, 69px);
                    @include flexCenter();
                    background:linear-gradient(90deg, #AA45AF, #F4429A);
                    border-radius: 10px;
                    font-size: 26px;
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    color: rgb(255, 255, 255);
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    cursor: pointer;
                }
            }
            #regInputDiv{
                @include size(100%, 500px);
                @include flDownAround();
                input{
                    @include size(100%, 70px);
                    border: 1px solid rgb(190, 190, 190);
                    outline: none;
                    padding-left: 20px;
                    font-size: 20px;
                    color: rgb(190, 190, 190);
                    border-radius: 10px;
                    border: 1px solid rgb(190, 190, 190);
                }
                #forGender{
                    @include size(100%, 70px);
                    @include flexEvenly();
                    label{
                        @include size(50%, 70px);
                        @include flDownAround();
                        cursor: pointer;
                    }
                    input{
                        @include size(30px, 30px)
                    }
                }
                p{
                    font-size: 14px;
                    color: red;
                    display: none;
                }
            }
            #regBtnRegister{
                @include size(100%, 69px);
                background: linear-gradient(90deg, #AA45AF, #F4429A);
                border: none;
                border-radius: 10px;
                color: white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 26px;
                transition:ease-in-out .5s;
                cursor: pointer;
            }
            #regBtnRegister:hover{
                background: transparent;
                border: 2px solid #AA45AF;
                color: #F4429A;
            }
        }

    }
    
}